<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Flask project!</title>
        {% endif %}
    </head>
<body>
    <h1>Example Project to make a login page for user</h1>
    <h2>This is an example of a basic HTML page.</h2>
    <div>
        Microblog: <a href="/index">Home</a>
    </div>
    <div>
        Login: <a href="/form">Login</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messaged %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>

